.btn {
  width: 100px;
  margin: 0 auto;
  margin-top: 8px;
  outline: none;
  background-color: #fff8e6;
  border: 1px solid #ffe49a;
  border-radius: 4px;
  box-shadow: 1px 2px 3px -1px #00000059;
}
